:root {
  --colors\/text\/text-primary-\(900\): #171717;
  --colors\/text\/text-primary_on-brand: #FFF;
  --colors\/text\/text-secondary-\(700\): #404040;
  --colors\/text\/text-secondary_hover: #262626;
  --colors\/text\/text-secondary_on-brand: #E9D7FE;
  --colors\/text\/text-tertiary-\(600\): #525252;
  --colors\/text\/text-tertiary_hover: #404040;
  --colors\/text\/text-tertiary_on-brand: #E9D7FE;
  --colors\/text\/text-quaternary-\(500\): #737373;
  --colors\/text\/text-quaternary_on-brand: #D6BBFB;
  --colors\/text\/text-white: #FFF;
  --colors\/text\/text-placeholder: #737373;
  --colors\/text\/text-brand-primary-\(900\): #42307D;
  --colors\/text\/text-brand-secondary-\(700\): #6941C6;
  --colors\/text\/text-brand-secondary_hover: #53389E;
  --colors\/text\/text-brand-tertiary-\(600\): #7F56D9;
  --colors\/text\/text-brand-tertiary_alt: #7F56D9;
  --colors\/text\/text-error-primary-\(600\): #DC2626;
  --colors\/text\/text-error-primary_hover: #B91C1C;
  --colors\/text\/text-warning-primary-\(600\): #CA8A04;
  --colors\/text\/text-success-primary-\(600\): #16A34A;
  --colors\/border\/border-primary: #D4D4D4;
  --colors\/border\/border-secondary: #E5E5E5;
  --colors\/border\/border-secondary_alt: #0000001A;
  --colors\/border\/border-tertiary: #F5F5F5;
  --colors\/border\/border-brand: #9E77ED;
  --colors\/border\/border-brand_alt: #7F56D9;
  --colors\/border\/border-error: #EF4444;
  --colors\/border\/border-error_subtle: #FCA5A5;
  --colors\/foreground\/fg-primary-\(900\): #171717;
  --component-colors\/alpha\/alpha-white-10: #FFFFFF1A;
  --component-colors\/alpha\/alpha-white-20: #FFF3;
  --component-colors\/alpha\/alpha-white-30: #FFFFFF4D;
  --component-colors\/alpha\/alpha-white-40: #FFF6;
  --component-colors\/alpha\/alpha-white-50: #FFFFFF80;
  --component-colors\/alpha\/alpha-white-60: #FFF9;
  --component-colors\/alpha\/alpha-white-70: #FFFFFFB2;
  --component-colors\/alpha\/alpha-white-80: #FFFC;
  --component-colors\/alpha\/alpha-white-90: #FFFFFFE5;
  --component-colors\/alpha\/alpha-white-100: #FFF;
  --component-colors\/alpha\/alpha-black-10: #0000001A;
  --component-colors\/alpha\/alpha-black-20: #0003;
  --component-colors\/alpha\/alpha-black-30: #0000004D;
  --component-colors\/alpha\/alpha-black-40: #0006;
  --component-colors\/alpha\/alpha-black-50: #00000080;
  --component-colors\/alpha\/alpha-black-60: #0009;
  --component-colors\/alpha\/alpha-black-70: #000000B2;
  --component-colors\/alpha\/alpha-black-80: #000C;
  --component-colors\/alpha\/alpha-black-90: #000000E5;
  --component-colors\/alpha\/alpha-black-100: #000;
  --component-colors\/utility\/neutral\/utility-neutral-50: #FAFAFA;
  --component-colors\/utility\/neutral\/utility-neutral-100: #F5F5F5;
  --component-colors\/utility\/neutral\/utility-neutral-200: #E5E5E5;
  --component-colors\/utility\/neutral\/utility-neutral-300: #D4D4D4;
  --component-colors\/utility\/neutral\/utility-neutral-400: #A3A3A3;
  --component-colors\/utility\/neutral\/utility-neutral-500: #737373;
  --component-colors\/utility\/neutral\/utility-neutral-600: #525252;
  --component-colors\/utility\/neutral\/utility-neutral-700: #404040;
  --component-colors\/utility\/neutral\/utility-neutral-800: #262626;
  --component-colors\/utility\/neutral\/utility-neutral-900: #171717;
  --component-colors\/utility\/brand\/utility-brand-50: #F9F5FF;
  --component-colors\/utility\/brand\/utility-brand-50_alt: #F9F5FF;
  --component-colors\/utility\/brand\/utility-brand-100: #F4EBFF;
  --component-colors\/utility\/brand\/utility-brand-100_alt: #F4EBFF;
  --component-colors\/utility\/brand\/utility-brand-200: #E9D7FE;
  --component-colors\/utility\/brand\/utility-brand-200_alt: #E9D7FE;
  --component-colors\/utility\/brand\/utility-brand-300: #D6BBFB;
  --component-colors\/utility\/brand\/utility-brand-300_alt: #D6BBFB;
  --component-colors\/utility\/brand\/utility-brand-400: #B692F6;
  --component-colors\/utility\/brand\/utility-brand-400_alt: #B692F6;
  --component-colors\/utility\/brand\/utility-brand-500: #9E77ED;
  --component-colors\/utility\/brand\/utility-brand-500_alt: #9E77ED;
  --component-colors\/utility\/brand\/utility-brand-600: #7F56D9;
  --component-colors\/utility\/brand\/utility-brand-600_alt: #7F56D9;
  --component-colors\/utility\/brand\/utility-brand-700: #6941C6;
  --component-colors\/utility\/brand\/utility-brand-700_alt: #6941C6;
  --component-colors\/utility\/brand\/utility-brand-800: #53389E;
  --component-colors\/utility\/brand\/utility-brand-800_alt: #53389E;
  --component-colors\/utility\/brand\/utility-brand-900: #42307D;
  --component-colors\/utility\/brand\/utility-brand-900_alt: #42307D;
  --component-colors\/components\/avatars\/avatar-styles-bg-neutral: #E0E0E0;
  --component-colors\/components\/toggles\/toggle-border: #D4D4D4;
  --component-colors\/components\/toggles\/toggle-slim-border_pressed: var(--colors\/background\/bg-brand-solid);
  --component-colors\/components\/toggles\/toggle-slim-border_pressed-hover: var(--colors\/background\/bg-brand-solid_hover);
  --component-colors\/utility\/red\/utility-red-50: #FEF2F2;
  --component-colors\/utility\/orange\/utility-orange-50: #FFF7ED;
  --component-colors\/utility\/orange\/utility-orange-100: #FFEDD5;
  --component-colors\/utility\/orange\/utility-orange-200: #FED7AA;
  --component-colors\/utility\/orange\/utility-orange-300: #FDBA74;
  --component-colors\/utility\/orange\/utility-orange-400: #FB923C;
  --component-colors\/utility\/orange\/utility-orange-500: #F97316;
  --component-colors\/utility\/orange\/utility-orange-600: #EA580C;
  --component-colors\/utility\/orange\/utility-orange-700: #C2410C;
  --component-colors\/utility\/amber\/utility-amber-50: #FFFBEB;
  --component-colors\/utility\/amber\/utility-amber-100: #FEF3C7;
  --component-colors\/utility\/amber\/utility-amber-200: #FDE68A;
  --component-colors\/utility\/amber\/utility-amber-300: #FCD34D;
  --component-colors\/utility\/amber\/utility-amber-400: #FBBF24;
  --component-colors\/utility\/amber\/utility-amber-500: #F59E0B;
  --component-colors\/utility\/amber\/utility-amber-600: #D97706;
  --component-colors\/utility\/amber\/utility-amber-700: #B45309;
  --component-colors\/utility\/red\/utility-red-100: #FEE2E2;
  --component-colors\/utility\/red\/utility-red-200: #FECACA;
  --component-colors\/utility\/red\/utility-red-300: #FCA5A5;
  --component-colors\/utility\/red\/utility-red-400: #F87171;
  --component-colors\/utility\/red\/utility-red-500: #EF4444;
  --component-colors\/utility\/red\/utility-red-600: #DC2626;
  --component-colors\/utility\/red\/utility-red-700: #B91C1C;
  --component-colors\/utility\/yellow\/utility-yellow-50: #FEFCE8;
  --component-colors\/utility\/green\/utility-green-50: #F0FDF4;
  --component-colors\/utility\/green\/utility-green-100: #DCFCE7;
  --component-colors\/utility\/green\/utility-green-200: #BBF7D0;
  --component-colors\/utility\/green\/utility-green-300: #86EFAC;
  --component-colors\/utility\/green\/utility-green-400: #4ADE80;
  --component-colors\/utility\/green\/utility-green-500: #22C55E;
  --component-colors\/utility\/green\/utility-green-600: #16A34A;
  --component-colors\/utility\/green\/utility-green-700: #15803D;
  --component-colors\/utility\/yellow\/utility-yellow-100: #FEF9C3;
  --component-colors\/utility\/yellow\/utility-yellow-200: #FEF08A;
  --component-colors\/utility\/yellow\/utility-yellow-300: #FDE047;
  --component-colors\/utility\/yellow\/utility-yellow-400: #FACC15;
  --component-colors\/utility\/yellow\/utility-yellow-500: #EAB308;
  --component-colors\/utility\/yellow\/utility-yellow-600: #CA8A04;
  --component-colors\/utility\/yellow\/utility-yellow-700: #A16207;
  --component-colors\/utility\/emerald\/utility-emerald-50: #ECFDF5;
  --component-colors\/utility\/emerald\/utility-emerald-100: #D1FAE5;
  --component-colors\/utility\/emerald\/utility-emerald-200: #A7F3D0;
  --component-colors\/utility\/emerald\/utility-emerald-300: #6EE7B7;
  --component-colors\/utility\/emerald\/utility-emerald-400: #34D399;
  --component-colors\/utility\/emerald\/utility-emerald-500: #10B981;
  --component-colors\/utility\/emerald\/utility-emerald-600: #059669;
  --component-colors\/utility\/emerald\/utility-emerald-700: #047857;
  --component-colors\/utility\/sky\/utility-sky-50: #F0F9FF;
  --component-colors\/utility\/sky\/utility-sky-100: #E0F2FE;
  --component-colors\/utility\/sky\/utility-sky-200: #BAE6FD;
  --component-colors\/utility\/sky\/utility-sky-300: #7DD3FC;
  --component-colors\/utility\/sky\/utility-sky-400: #38BDF8;
  --component-colors\/utility\/sky\/utility-sky-500: #0EA5E9;
  --component-colors\/utility\/sky\/utility-sky-600: #0284C7;
  --component-colors\/utility\/sky\/utility-sky-700: #0369A1;
  --component-colors\/utility\/blue\/utility-blue-50: #EFF6FF;
  --component-colors\/utility\/blue\/utility-blue-100: #DBEAFE;
  --component-colors\/utility\/blue\/utility-blue-200: #BFDBFE;
  --component-colors\/utility\/blue\/utility-blue-300: #93C5FD;
  --component-colors\/utility\/blue\/utility-blue-400: #60A5FA;
  --component-colors\/utility\/blue\/utility-blue-500: #3B82F6;
  --component-colors\/utility\/blue\/utility-blue-600: #2563EB;
  --component-colors\/utility\/blue\/utility-blue-700: #1D4ED8;
  --component-colors\/utility\/indigo\/utility-indigo-50: #EEF2FF;
  --component-colors\/utility\/indigo\/utility-indigo-100: #E0E7FF;
  --component-colors\/utility\/indigo\/utility-indigo-200: #C7D2FE;
  --component-colors\/utility\/indigo\/utility-indigo-300: #A5B4FC;
  --component-colors\/utility\/indigo\/utility-indigo-400: #818CF8;
  --component-colors\/utility\/indigo\/utility-indigo-500: #6366F1;
  --component-colors\/utility\/indigo\/utility-indigo-600: #4F46E5;
  --component-colors\/utility\/indigo\/utility-indigo-700: #4338CA;
  --component-colors\/utility\/purple\/utility-purple-50: #FAF5FF;
  --component-colors\/utility\/purple\/utility-purple-100: #F3E8FF;
  --component-colors\/utility\/purple\/utility-purple-200: #E9D5FF;
  --component-colors\/utility\/purple\/utility-purple-300: #D8B4FE;
  --component-colors\/utility\/purple\/utility-purple-400: #C084FC;
  --component-colors\/utility\/purple\/utility-purple-500: #A855F7;
  --component-colors\/utility\/purple\/utility-purple-600: #9333EA;
  --component-colors\/utility\/purple\/utility-purple-700: #7E22CE;
  --component-colors\/utility\/fuchsia\/utility-fuchsia-50: #FDF4FF;
  --component-colors\/utility\/fuchsia\/utility-fuchsia-100: #FAE8FF;
  --component-colors\/utility\/fuchsia\/utility-fuchsia-200: #F5D0FE;
  --component-colors\/utility\/fuchsia\/utility-fuchsia-300: #F0ABFC;
  --component-colors\/utility\/fuchsia\/utility-fuchsia-400: #E879F9;
  --component-colors\/utility\/fuchsia\/utility-fuchsia-500: #D946EF;
  --component-colors\/utility\/fuchsia\/utility-fuchsia-600: #C026D3;
  --component-colors\/utility\/fuchsia\/utility-fuchsia-700: #A21CAF;
  --component-colors\/utility\/pink\/utility-pink-50: #FDF2F8;
  --component-colors\/utility\/slate\/utility-slate-50: #F8FAFC;
  --component-colors\/utility\/slate\/utility-slate-100: #F1F5F9;
  --component-colors\/utility\/slate\/utility-slate-200: #E2E8F0;
  --component-colors\/utility\/slate\/utility-slate-300: #CBD5E1;
  --component-colors\/utility\/slate\/utility-slate-400: #94A3B8;
  --component-colors\/utility\/slate\/utility-slate-500: #64748B;
  --component-colors\/utility\/slate\/utility-slate-600: #475569;
  --component-colors\/utility\/slate\/utility-slate-700: #334155;
  --component-colors\/utility\/pink\/utility-pink-100: #FCE7F3;
  --component-colors\/utility\/pink\/utility-pink-200: #FBCFE8;
  --component-colors\/utility\/pink\/utility-pink-300: #F9A8D4;
  --component-colors\/utility\/pink\/utility-pink-400: #F472B6;
  --component-colors\/utility\/pink\/utility-pink-500: #EC4899;
  --component-colors\/utility\/pink\/utility-pink-600: #DB2777;
  --component-colors\/utility\/pink\/utility-pink-700: #BE185D;
  --colors\/foreground\/fg-secondary-\(700\): #404040;
  --colors\/foreground\/fg-secondary_hover: #262626;
  --colors\/foreground\/fg-tertiary-\(600\): #525252;
  --colors\/foreground\/fg-tertiary_hover: #404040;
  --colors\/foreground\/fg-quaternary-\(400\): #A3A3A3;
  --colors\/foreground\/fg-quaternary_hover: #737373;
  --colors\/foreground\/fg-white: #FFF;
  --colors\/foreground\/fg-brand-primary-\(600\): #7F56D9;
  --colors\/foreground\/fg-brand-primary_alt: var(--colors\/foreground\/fg-brand-primary-\(600\));
  --colors\/foreground\/fg-brand-secondary-\(500\): #9E77ED;
  --colors\/foreground\/fg-brand-secondary_alt: var(--colors\/foreground\/fg-brand-secondary-\(500\));
  --colors\/foreground\/fg-brand-secondary_hover: #7F56D9;
  --colors\/foreground\/fg-error-primary: #DC2626;
  --colors\/foreground\/fg-error-secondary: #EF4444;
  --colors\/foreground\/fg-warning-primary: #CA8A04;
  --colors\/foreground\/fg-warning-secondary: #EAB308;
  --colors\/foreground\/fg-success-primary: #16A34A;
  --colors\/foreground\/fg-success-secondary: #22C55E;
  --colors\/background\/bg-primary: #FFF;
  --colors\/effects\/shadows\/shadow-xs: #0000000D;
  --colors\/effects\/portfolio-mockups\/shadow-main-centre-md: #0A0A0A24;
  --colors\/effects\/portfolio-mockups\/shadow-main-centre-lg: #0A0A0A2E;
  --colors\/effects\/portfolio-mockups\/shadow-overlay-lg: #0A0A0A1F;
  --colors\/effects\/portfolio-mockups\/shadow-grid-md: #0A0A0A14;
  --colors\/effects\/shadows\/shadow-sm_01: #0000001A;
  --colors\/effects\/shadows\/shadow-sm_02: #0000001A;
  --colors\/effects\/shadows\/shadow-md_01: #0000001A;
  --colors\/effects\/shadows\/shadow-md_02: #0000000F;
  --colors\/effects\/shadows\/shadow-lg_01: #00000014;
  --colors\/effects\/shadows\/shadow-lg_02: #00000008;
  --colors\/effects\/shadows\/shadow-lg_03: #0000000A;
  --colors\/effects\/shadows\/shadow-xl_01: #00000014;
  --colors\/effects\/shadows\/shadow-xl_02: #00000008;
  --colors\/effects\/shadows\/shadow-xl_03: #0000000A;
  --colors\/effects\/shadows\/shadow-2xl_01: #0000002E;
  --colors\/effects\/shadows\/shadow-2xl_02: #0000000A;
  --colors\/effects\/shadows\/shadow-3xl_01: #00000024;
  --colors\/effects\/shadows\/shadow-3xl_02: #0000000A;
  --colors\/effects\/shadows\/shadow-skeumorphic-inner: #0000000D;
  --colors\/effects\/shadows\/shadow-skeumorphic-inner-border: #0000002E;
  --colors\/background\/bg-primary_alt: #FFF;
  --colors\/background\/bg-primary_hover: #FAFAFA;
  --colors\/background\/bg-primary-solid: #0A0A0A;
  --colors\/background\/bg-secondary: #FAFAFA;
  --colors\/background\/bg-secondary_alt: #FAFAFA;
  --colors\/background\/bg-secondary_hover: #F5F5F5;
  --colors\/background\/bg-secondary-solid: #525252;
  --colors\/background\/bg-tertiary: #F5F5F5;
  --colors\/background\/bg-quaternary: #E5E5E5;
  --colors\/background\/bg-overlay: #0A0A0A;
  --colors\/background\/bg-brand-primary: #F9F5FF;
  --colors\/background\/bg-brand-primary_alt: #F9F5FF;
  --colors\/background\/bg-brand-secondary: #F4EBFF;
  --colors\/background\/bg-brand-solid: #7F56D9;
  --colors\/background\/bg-brand-solid_hover: #6941C6;
  --colors\/background\/bg-brand-section: #53389E;
  --colors\/background\/bg-brand-section_subtle: #6941C6;
  --colors\/background\/bg-error-primary: #FEF2F2;
  --colors\/background\/bg-error-secondary: #FEE2E2;
  --colors\/background\/bg-error-solid: #DC2626;
  --colors\/background\/bg-error-solid_hover: #B91C1C;
  --colors\/background\/bg-warning-primary: #FEFCE8;
  --colors\/background\/bg-warning-secondary: #FEF9C3;
  --colors\/background\/bg-warning-solid: #CA8A04;
  --colors\/background\/bg-success-primary: #F0FDF4;
  --colors\/background\/bg-success-secondary: #DCFCE7;
  --colors\/background\/bg-success-solid: #16A34A;
  --container-padding-mobile: 16;
  --container-padding-desktop: 32;
  --container-max-width-desktop: 1280;
  --width-xxs: 320;
  --width-xs: 384;
  --width-sm: 480;
  --width-md: 560;
  --width-lg: 640;
  --width-xl: 768;
  --width-2xl: 1024;
  --width-3xl: 1280;
  --width-4xl: 1440;
  --width-5xl: 1600;
  --width-6xl: 1920;
  --paragraph-max-width: 720;
  --spacing-none: 0;
  --spacing-xxs: 2;
  --spacing-xs: 4;
  --spacing-sm: 6;
  --spacing-md: 8;
  --spacing-lg: 12;
  --spacing-xl: 16;
  --spacing-2xl: 20;
  --spacing-3xl: 24;
  --spacing-4xl: 32;
  --spacing-5xl: 40;
  --spacing-6xl: 48;
  --spacing-7xl: 64;
  --spacing-8xl: 80;
  --spacing-9xl: 96;
  --spacing-10xl: 128;
  --spacing-11xl: 160;
  --radius-none: 0;
  --radius-xxs: 2;
  --radius-xs: 4;
  --radius-sm: 6;
  --radius-md: 8;
  --radius-lg: 10;
  --radius-xl: 12;
  --radius-2xl: 16;
  --radius-3xl: 20;
  --radius-4xl: 24;
  --radius-full: 9999;
  --font-size\/text-xs: 12;
  --line-height\/text-xs: 18;
  --line-height\/text-sm: 20;
  --line-height\/text-md: 24;
  --line-height\/text-lg: 28;
  --line-height\/text-xl: 30;
  --line-height\/display-xs: 32;
  --line-height\/display-sm: 38;
  --line-height\/display-md: 44;
  --line-height\/display-lg: 60;
  --line-height\/display-xl: 72;
  --line-height\/display-2xl: 90;
  --font-size\/text-sm: 14;
  --font-size\/text-md: 16;
  --font-size\/text-lg: 18;
  --font-size\/text-xl: 20;
  --font-size\/display-xs: 24;
  --font-size\/display-sm: 30;
  --font-size\/display-md: 36;
  --font-size\/display-lg: 48;
  --font-size\/display-xl: 60;
  --font-size\/display-2xl: 72;
}

.display-2xl-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 72px;
  font-weight: 400;
  line-height: 90px;
}

.display-2xl-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 72px;
  font-weight: 500;
  line-height: 90px;
}

.display-2xl-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 72px;
  font-weight: 600;
  line-height: 90px;
}

.display-2xl-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
}

.display-xl-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
}

.display-xl-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
}

.display-xl-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
}

.display-xl-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}

.display-lg-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.display-lg-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
}

.display-lg-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}

.display-lg-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.display-md-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
}

.display-md-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

.display-md-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.display-md-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.display-sm-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
}

.display-sm-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
}

.display-sm-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0px;
}

.display-sm-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
}

.display-xs-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
}

.display-xs-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
}

.display-xs-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
}

.display-xs-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
}

.text-xl-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
}

.text-xl-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
}

.text-xl-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
}

.text-xl-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.text-lg-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}

.text-lg-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
}

.text-lg-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
}

.text-lg-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
}

.text-md-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

.text-md-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

.text-md-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}

.text-md-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}

.text-sm-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.text-sm-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
}

.text-sm-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
}

.text-xs-regular {
  font-family: "Inter";
  font-style: "Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}

.text-xs-medium {
  font-family: "Inter";
  font-style: "Medium";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
}

.text-xs-semibold {
  font-family: "Inter";
  font-style: "Semi Bold";
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
}

.text-sm-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
}

.text-xs-bold {
  font-family: "Inter";
  font-style: "Bold";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
}

